* {
    font-family: 'Press Start 2P', cursive;
}

.game {
    margin: 20vh auto 0;
    width: 760px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
}

.game__title {
    font-weight: 400;
    font-size: 48px;
    color: #673ab7;
}

.game .register {
    margin: 18px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    font-size: 20px;
}

.game_process .register {
    display: none;
} 

.game .register__description {
    margin: 0 0 18px;
}

.game .register__param {
    margin: 36px 0;
    font-size: 1.2em;
}

.game .register__input{
    width: 200px;
    font-size: 14px;
    padding: 8px;
    border: 2px solid black;
}

.game .register__finish,
.game__restart {
    text-align: center;
    line-height: 3em;
    margin: 8px;
    border: 2px solid #673ab7;
    background-color: #673ab7;
    color: white;  
    transition: .3s;
    cursor: pointer;
}

.game .register__finish {
    width: 200px;
}

.game .register__finish:hover,
.game__restart:hover {  
    border: 2px solid #311b92;
    background-color: #311b92; 
}

.game_register .game__fields,
.game_register .game__status,
.game_register .game__restart {
    display: none;
}

.field{
    margin: 8px;
    background-color:white;
    border: 2px solid #673ab7;
}

.field_step {
    box-shadow: 0 0 15px 5px #673ab7;
}

.field__row{
    background-color: #d3ebff;
}

.field__cell {
    width: 28px;
    height: 28px;
    border-radius: 2px;
    transition: .1s;
}

.field__water {
    background-color: #d3ebff;
}

.field__ship {
    background-color: black;
}

.field__ship_destroyed {
    background-color: black;
}

.field__fail {
    border-radius: 50%;
    background-color: gray;
}

.field__ship_hit {
    background-color: #e91e63;
}

.field_rival .field__cell:hover {
    background-color: #673ab7;
}

.game__restart {
    margin: 36px 0;
    width: 256px;
}